.tableCell-1
{
    background-color: aqua;
}
.tableCell-2 {
    background-color: cadetblue;
}
.tableCell-3 {
    background-color: blueviolet;
}
.tableCell-4 {
    background-color: aliceblue;
}
.tableCell-5 {
    background-color: cornflowerblue;
}